# Copyright 2025 Kristopher Rahim Afful-Brown. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

name: Go Audit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  audit:
    runs-on: ubuntu-latest # server will only be on linux, but cli could be on multiple architectures
    strategy:
      matrix:
        go-version: ["1.24.x"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Verify dependencies
        run: go mod verify
      - name: Build
        run: go build -v ./...
      - name: Run go vet
        run: go vet ./...
      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Run staticcheck
        run: staticcheck ./...
      - name: Install golint
        run: go install golang.org/x/lint/golint@latest
      - name: Run golint
        run: golint ./...
      # - name: Setup Testcontainers Cloud Client
      #   uses: atomicjar/testcontainers-cloud-setup-action@v1
      #   with:
      #     token: ${{ secrets.TC_CLOUD_TOKEN }}
      - name: Run tests
        run: go test -race -vet=off ./...
